
<p><input [(ngModel)]="yBoundaries[1]"></p>
<p><input [(ngModel)]="yBoundaries[0]"></p>


<svg width="1500" height="1000">
  <g transform="translate(100, 800)" mag-x-axis [dimensions]="[0, 1200]" [domain]="xBoundaries" [autoScale]="true" (xReady)="xReady($event)"></g>
  <g transform="translate(100, 100)" mag-y-axis [dimensions]="[0, 700]" [domain]="yBoundaries" [autoScale]="true" (yReady)="yReady($event)"></g>
  <clipPath id="curve-clip">
  </clipPath>
  <g mag-curve width="900" height="800" transform="translate(100,100)" *ngIf="x && y" [x]="x" [y]="y" [data]="data" [label]="lineLabel"></g>
</svg>

